.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.wallpaper {
  background-image: url(/images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vh;
}

@media screen and (max-width: 898px) {
  .wallpaper {
    height: 126vh;
  }
}

@media screen and (max-width: 790px) {
  .wallpaper {
    height: 130vh;
  }
}

@media screen and (max-width: 414px) {
  .wallpaper {
    height: 115vh;
  }
}

@media screen and (max-width: 330px) {
  .heading {
    height: 100vh;
    margin-bottom: -40rem !important;
  }
}

/* MUSE FINDER */

.heading {
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 6rem;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 6px 7px 8px black;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 920px) {
  .heading {
    font-size: 5rem;
  }
}

@media screen and (max-width: 770px) {
  .heading {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 709px) {
  .heading {
    font-size: 4rem;
  }
}

@media screen and (max-width: 570px) {
  .heading {
    font-size: 3rem;
  }
}

@media screen and (max-width: 450px) {
  .heading {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 349px) {
  .heading {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 330px) {
  .heading {
    font-size: 1.3rem;
    margin-top: 1rem;
  }
}


/* INPUT */

center > h4 {
  color: #00a0d1; margin-top: 50px;
}

ul#growing-search-freebie {
  display: table;
  list-style: none;
  margin: 0 auto 0 auto;
  padding: 0;
}

.growing-search {
	padding: 5px 5px 5px 7px;
	border-radius: 5px;
	background: #fff;
}

.growing-search div {
	display: inline-block;
	font-size: 12px;
}

.growing-search .input input {
	margin-right: 0;
  margin-bottom: .3rem;
	border: none;
	font-size: inherit;
  font-family: 'Poppins', sans-serif;
	transition: width 200ms;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	width: 7rem;
	border-bottom: 1px solid #A4009C;
}

.growing-search .input input:focus {
	width: 150px;
 }

.growing-search {
	margin-left: 0;
	border: none;
	font-size: 1.15em;
	color: #aaa;
	background-color: #fff;
	padding-top: 2px;
	padding-bottom: 2px;
	transition: color 200ms;
}

.growing-search .input input:focus, .growing-search {
	outline: none;
}

/* TABLE */

table {
  width: 70%;
  position: relative;
}

@media screen and (min-width: 320px) {
  table {
    width: 90%;
  }
}

tbody {
  display: block;
  border-radius: .75rem;
  box-shadow: 5px 5px 17px 4px black;
  color: lightgrey;
  background-color: #231F25;
  background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(52,46,55,1) 50%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(52,46,55,1) 50%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(52,46,55,1) 50%, rgba(0,0,0,1) 100%);
}

@media screen and (max-width: 1155px) {
  tbody {
    height: 72vh;
  }
}

@media screen and (max-width: 920px) {
  tbody {
    height: 72vh;
  }
}

@media screen and (max-width: 898px) {
  tbody {
    height: 75vh;
  }
}

@media screen and (max-width: 813px) {
  tbody {
    height: 78vh;
  }
}

@media screen and (max-width: 790px) {
  tbody {
    height: 82vh;
  }
}

@media screen and (max-width: 770px) {
  tbody {
    height: 85vh;
  }
}

@media screen and (max-width: 414px) {
  tbody {
    height: 76vh;
    font-size: .8rem;
  }
}

@media screen and (max-width: 375px) {
  tbody {
    height: 76vh;
    font-size: .7rem;
  }
}

@media screen and (max-width: 360px) {
  tbody {
    height: 76vh;
    font-size: .7rem;
  }
}

@media screen and (max-width: 330px) {
  tbody {
    height: 70vh;
    font-size: .6rem;
  }
}

.space {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

#even {
  background-color: #201D42;
  background: -webkit-linear-gradient(left, rgba(0,47,56,1) 0%, rgba(65,59,134,1) 50%, rgba(0,47,56,1) 100%);
  background: -o-linear-gradient(left, rgba(0,47,56,1) 0%, rgba(65,59,134,1) 50%, rgba(0,47,56,1) 100%);
  background: linear-gradient(to right, rgba(0,47,56,1) 0%, rgba(65,59,134,1) 50%, rgba(0,47,56,1) 100%);
}

.top {
  color: lightgrey;
  text-decoration: none;
}

/* BUTTON */

.submit {
  font-family: 'Roboto', sans-serif;

  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  /* background: #B588FF; */
  /* background: #60a3bc; */
  padding: 1.2em;
  margin: 2em;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  outline: none;
  text-shadow: 3px 2px 6px black;
  letter-spacing: .15em;
  background: -webkit-linear-gradient(left, rgba(181,136,255,1) 35%, rgba(96,74,133,1) 100%);
  background: -o-linear-gradient(left, rgba(181,136,255,1) 35%, rgba(96,74,133,1) 100%);
  background: linear-gradient(to right, rgba(181,136,255,1) 35%, rgba(96,74,133,1) 100%);
}

.submit:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

/* ERROR MESSAGE */

.error {
  display: none;
  width: 35vw;
  background-color: #071318;
  color: #B588FF;
  padding: .5rem 1rem .5rem 1rem;
  border-radius: .3rem;
  box-shadow: 3px 3px 10px -1px black;
}

.errorAlign {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.xclaim {
  width: 5%;
  background-color: #B588FF;
  border-radius: 30px;
}

/* ERROR MESSAGE  */

/* TABLE */

#hidden {
  display: none;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #960396;
  background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(102,1,102,1) 50%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(102,1,102,1) 50%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(102,1,102,1) 50%, rgba(0,0,0,1) 100%);
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
}

.image {
  width: auto;
  height: 5rem;
}

@media screen and (max-width: 330px) {
  .image {
    height: 4rem;
  }
}

.artist {
  border: none;
}

.track {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
}

/* ANIMATIONS */

.delay {
  -webkit-animation-delay: .4s;
  -moz-animation-delay: .4s;
  animation-delay: .4s;
}

.animate {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

/* Fade Down */

@-webkit-keyframes fadeDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: .85;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: .9;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeDown {
  -webkit-animation-name: fadeDown;
  animation-name: fadeDown;
}

/* Fade In */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    background-color: black;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
